.splashContainer {
  --splash-logo-size: 120px;
  --splash-logo-text-max-w: 420px;
  --splash-tagline-max-w: 360px;
  --splash-tagline-h: 10rem;
  --splash-keyboard-svg-max-w: 14rem;

  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;

  /* gap: 2rem; */
  padding: var(--spacing-md);
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
  z-index: 9999;
}
