.logo {
  width: var(--splash-logo-size, 120px);
  height: var(--splash-logo-size, 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  width: 100%;
  height: 100%;
}
